<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>A weather app build upon Node.js. You can enter the location name and get the real time weather information from it. </p>
        <p>Location name, Zip code, Geographical coordinates any of this can be entered as the input.</p>

        <h4>Used Technologies</h4>
        <ul>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>Mapbox API</li>
            <li>Weatherstack API</li>
        </ul>
    </div>
    
    {{>footer}}
</body>

</html>