<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <table>
            <tr>
            <td>GitHub</td><td>github.com/jayasooryantm</td>
            </tr>
            <tr>
            <td>LinkedIn</td><td>linkedin.com/in/jayasooryan-surendran</td>
            </tr>
        </table>
    </div>
    
    {{>footer}}
</body>

</html>